.banner {
  height: 100vh;
  position: relative;
  // background: linear-gradient(#e66465, #9198e5);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("friends.jpeg");
  background-size: cover;

   h2 {
    top: 13px;
    left: 58px;
    position: absolute;
    font-size: 29px;
    text-shadow: 2px 5px 4px rgba(0,0,0,0.8);
   }

  .beacon-nav-header {
    position: absolute;
    top: 19px;
    right: 80px;
  }
  .banner-content-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 104px;
    font-weight: bolder;
    background: -webkit-linear-gradient(80deg, #78ffbd 31%, #429aff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
  }
}
