.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: linear-gradient(#e66465, #9198e5);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("friends.jpeg");
  background-size: cover;
  h1 {
    font-size: 70px;
    font-weight: bolder;
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
  }
}
