.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: linear-gradient(#e66465, #9198e5);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("friends.jpeg");
  background-size: cover;
  h1 {
    color: white;
    font-weight: bolder;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
  }
}
