.main-container {
  #map {
    height: 80vh;
  }

  .beacon-description {
    margin: 20px 0px 13px 120px;
    color: #61c89f;
  }
}

.cards {
  width: 30%;
}
.card {
  background: linear-gradient(183deg, #e2fbf1, #ffffff);
  display: flex;
  // height: 10vh; origin card size, can be use for javascript later.
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 5px 10px 0px 5px;

  .card-user-section-info {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .card-user-beacon-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 10px 20px;

    hr {
      margin: 3px 30px 6px 0px;
    }

    p {
      margin: 4px 0px 2px 0px;
    }
  }
}



@media(max-width: 992px) {
    #map {
      max-width: 85%;
      margin: 0 auto;
    }
    .cards {
      margin: 10px auto;
    }
    .card {
      margin: 10px;
    }
    .card-user-section-info {
      font-size: large;
    }
}

@media(max-width: 768px) {
  .cards {
    width: 100%;
  }
}
