  .beacon-join-button {
    padding: 12px;
    background: linear-gradient(282deg, #61c89f, #85CDCB);
    text-decoration: none;
    color: white;
    border-radius: 6px;

    &:hover {
      text-decoration: none;
      color: white;
      // background: linear-gradient(282deg, #85CDCB, #61c89f);
      box-shadow: 1px 0px 8px 7px rgba(93, 223, 117, 0.5);
      transition: 0.3s;
    }
  }

  .custom-btn {
    position: relative;
    display: inline-block;
    padding: 0.8em 0.8em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    border-radius: 4px;
    transition: box-shadow .5s ease,
      transform .2s ease;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .custom-btn-sign-up {
    background: linear-gradient(135deg, #61c89f, #85CDCB);
  }


  /* Dropdown Button */
  .dropbtn {
    color: #61c89f;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin: 6px 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: white;
    background-color: #61c89f;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: inline;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #61c89f;
    color: white ;
  }

  .call-to-action-btn {
    font-size: 20px;
    background: #61c89f;
    margin-left: 20px;
    padding: 14px;

    &:hover {
      text-decoration: none;
      background: #2d654f;
      box-shadow: 0px 0px 0px 0px rgba(93, 223, 117, 0.5);
    }
  }
