  .beacon-join-button {
    padding: 8px;
    background: linear-gradient(282deg, #61c89f, #85CDCB);
    text-decoration: none;
    color: white;
    border-radius: 6px;

    &:hover {
      text-decoration: none;
      color: white;
      // background: linear-gradient(282deg, #85CDCB, #61c89f);
      box-shadow: 1px 0px 8px 7px rgba(93, 223, 117, 0.5);
      transition: 0.3s;
    }
  }

  .custom-btn {
    position: relative;
    display: inline-block;
    padding: 0.8em 0.8em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    border-radius: 4px;
    transition: box-shadow .5s ease,
      transform .2s ease;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .custom-btn-sign-up {
    background: linear-gradient(135deg, #61c89f, #85CDCB);
  }
