.navbar-beacon {
  justify-content: space-between;
  background: white;

  #logo-text {
    display: inline;
    color: #85CDCB;
  }

  .nav-item-str {
    padding: 14px 20px 0px 2px;
    p {
      span {
        font-size: 16px;
        color: darkturquoise;
        font-weight: 700;
      }
    }
    }

}

.navbar-beacon .navbar-collapse {
  flex-grow: 0;
}

.beacon-logo {
  color: #85CDCB;
}
