.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.beacon-logo {
  background: -webkit-linear-gradient(#66FCF1, #85CDCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
