.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .nav-item-str {
    padding: 3px 0px 0px 2px;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.beacon-logo {
  color: #85CDCB;
}
